Hygrometer/Hygrometer/DataStorage/__pycache__/Amendments1.cpython-36.pyc
Hygrometer/Hygrometer/DataStorage/__pycache__/Amendments2.cpython-36.pyc
Hygrometer/Hygrometer/DataStorage/__pycache__/HumidityTable1.cpython-36.pyc
Hygrometer/Hygrometer/DataStorage/__pycache__/HumidityTable2.cpython-36.pyc
